/* Onze stijl */
:root {
    --main-bg-color: coral;
    --hoofdkleur: #0bbeef; 
}


section#service {
    padding-top: 5em;
}
.default-header{
    box-shadow: 0 20.213px 30px 0px rgba(158, 158, 158, 0.3);
}

.modal-content {
    padding: 2em;
}
.modal-footer {
    border: none;
    justify-content: space-around;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 20% auto;
    }
}

.single-service {
    background-color: #f3f1f1d6;
}
.single-service:hover {
    box-shadow: none;
    cursor: initial;
    color: inherit;
    background-image: none;
    background-color: #f3f3f3;
}
.single-service:hover h4 {
    color: #222222;
}
.no-flex{
	display: block;
}
.buttonbck {
	background-color: var(--hoofdkleur);
	margin: 10px 10px;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.foto { 
    border-radius: 8px;
    margin: 5px 5px 5px 5px;
}
.clearfix {
	clear: both;
}
.buttonreact {
background-color: var(--hoofdkleur);
	margin: 10px 10px;
	float:  right;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.loginreg {
	background-color: var(--hoofdkleur);
	margin: 10px 10px;
	float: center;
    border: none;
    border-radius: 08px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.column {
    float: left;
}
.left {
    width: 25%;
}
.right {
	width: 25%;	
}
.middle {
    width: 50%;
}
.tumb250px {
    width: 250px !important;
    height: 250px !important;
    object-fit: cover;
}

h1.only-h1{
    padding: 2em;
}

.search-field .app-select {
    margin-top: 50px;
    margin-bottom: 0;
}

.navbar-brand img {
    height: 30px;
}

footer {
    clear: both;
}

.contact textarea {
    border-radius: 3px
}

.contact #service {
    padding-bottom: 4em;
}